USE [master]
GO
/****** Object:  Database [RGutierrezProgramacionNCapas]    Script Date: 20/07/2023 11:39:55 a. m. ******/
CREATE DATABASE [RGutierrezProgramacionNCapas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RGutierrezProgramacionNCapas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\RGutierrezProgramacionNCapas.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'RGutierrezProgramacionNCapas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\RGutierrezProgramacionNCapas_log.ldf' , SIZE = 7040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RGutierrezProgramacionNCapas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RGutierrezProgramacionNCapas]
GO
/****** Object:  StoredProcedure [dbo].[AseguradoraAdd]    Script Date: 20/07/2023 11:39:55 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AseguradoraAdd]
@Nombre VARCHAR(50),
@IdUsuario INT
AS
	INSERT INTO Aseguradora (
		Nombre, FechaCreacion,
		FechaModificacion, IdUsuario,
		Status)
	VALUES (@Nombre, GETDATE(),
		GETDATE(), @IdUsuario,1)
GO
/****** Object:  StoredProcedure [dbo].[AseguradoraDelete]    Script Date: 20/07/2023 11:39:55 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AseguradoraDelete]
@IdAseguradora INT
AS
	DELETE FROM Aseguradora
	WHERE IdAseguradora = @IdAseguradora

GO
/****** Object:  StoredProcedure [dbo].[AseguradoraGetAll]    Script Date: 20/07/2023 11:39:55 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AseguradoraGetAll]
@Nombre VARCHAR(50)
AS
	SELECT
		Aseguradora.IdAseguradora,
		Aseguradora.Nombre,
		Aseguradora.FechaCreacion,
		Aseguradora.FechaModificacion,
		Aseguradora.IdUsuario,
		Aseguradora.Status,
		Usuario.Nombre AS NombreUsuario,
		Usuario.ApellidoPaterno,
		Usuario.ApellidoMaterno
	FROM Aseguradora
	INNER JOIN Usuario
	ON Aseguradora.IdUsuario = Usuario.IdUsuario
	WHERE Aseguradora.Nombre LIKE '%'+@Nombre+'%'

GO
/****** Object:  StoredProcedure [dbo].[AseguradoraGetById]    Script Date: 20/07/2023 11:39:55 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AseguradoraGetById]
@IdAseguradora INT
AS
	SELECT
		Aseguradora.IdAseguradora,
		Aseguradora.Nombre,
		Aseguradora.FechaCreacion,
		Aseguradora.FechaModificacion,
		Aseguradora.IdUsuario,
		Aseguradora.Status,
		Usuario.Nombre AS NombreUsuario,
		Usuario.ApellidoPaterno,
		Usuario.ApellidoMaterno
	FROM Aseguradora
	INNER JOIN Usuario
	ON Aseguradora.IdUsuario = Usuario.IdUsuario
	WHERE IdAseguradora = @IdAseguradora

GO
/****** Object:  StoredProcedure [dbo].[AseguradoraStatusUpdate]    Script Date: 20/07/2023 11:39:55 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AseguradoraStatusUpdate]
@IdAseguradora INT,
@Status BIT
AS
	UPDATE Aseguradora
	SET 
		Status = @Status
	WHERE IdAseguradora = @IdAseguradora

GO
/****** Object:  StoredProcedure [dbo].[AseguradoraUpdate]    Script Date: 20/07/2023 11:39:55 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AseguradoraUpdate]
@IdAseguradora INT,
@Nombre VARCHAR(50),
@IdUsuario INT
AS
	UPDATE Aseguradora
	SET
		Nombre = @Nombre,
		FechaModificacion = GETDATE(),
		IdUsuario = @IdUsuario
	WHERE IdAseguradora = @IdAseguradora

GO
/****** Object:  StoredProcedure [dbo].[ColoniaGetByIdMunicipio]    Script Date: 20/07/2023 11:39:55 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ColoniaGetByIdMunicipio]
@IdMunicipio INT
AS
	SELECT IdColonia
      ,Nombre
	  ,CodigoPostal
      ,IdMunicipio
	FROM Colonia
	WHERE IdMunicipio = @IdMunicipio
GO
/****** Object:  StoredProcedure [dbo].[EmpleadoAdd]    Script Date: 20/07/2023 11:39:55 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EmpleadoAdd]
@NumeroEmpleado VARCHAR(50),
@RFC VARCHAR(20),
@Nombre VARCHAR(50),
@ApellidoPaterno VARCHAR(50),
@ApellidoMaterno VARCHAR(50),
@Email VARCHAR(254),
@Telefono VARCHAR(20),
@FechaNacimiento DATE,
@NSS VARCHAR(20),
@FechaIngreso DATE,
--@Foto VARBINARY(MAX),
@IdEmpresa INT
AS
	INSERT INTO Empleado (NumeroEmpleado
      ,RFC
      ,Nombre
      ,ApellidoPaterno
      ,ApellidoMaterno
      ,Email
      ,Telefono
      ,FechaNacimiento
      ,NSS
      ,FechaIngreso
      --,Foto
      ,IdEmpresa
	  ,Status)
	VALUES (@NumeroEmpleado
	,@RFC
	,@Nombre
	,@ApellidoPaterno
	,@ApellidoMaterno
	,@Email
	,@Telefono
	,CONVERT(DATE,@FechaNacimiento,103)
	,@NSS
	,CONVERT(DATE,@FechaIngreso,103)
	--,@Foto
	,@IdEmpresa
	,1)
GO
/****** Object:  StoredProcedure [dbo].[EmpleadoDelete]    Script Date: 20/07/2023 11:39:55 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EmpleadoDelete]
@NumeroEmpleado VARCHAR(50)
AS
	DELETE FROM Empleado
	WHERE NumeroEmpleado = @NumeroEmpleado

GO
/****** Object:  StoredProcedure [dbo].[EmpleadoGetAll]    Script Date: 20/07/2023 11:39:55 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EmpleadoGetAll]
@IdEmpresa INT,
@Nombre VARCHAR(50)
AS
	IF @IdEmpresa = 0
		SELECT [NumeroEmpleado]
			,[RFC]
			,Empleado.Nombre
			,[ApellidoPaterno]
			,[ApellidoMaterno]
			,Empleado.Email
			,Empleado.Telefono
			,[FechaNacimiento]
			,[NSS]
			,[FechaIngreso]
			,[Foto]
			,Status
			,Empleado.IdEmpresa
			,Empresa.Nombre AS NombreEmpresa
		FROM Empleado
		LEFT JOIN Empresa
		ON Empleado.IdEmpresa = Empresa.IdEmpresa
		WHERE Empleado.Nombre LIKE '%'+@Nombre+'%'

	ELSE  
		SELECT [NumeroEmpleado]
			,[RFC]
			,Empleado.Nombre
			,[ApellidoPaterno]
			,[ApellidoMaterno]
			,Empleado.Email
			,Empleado.Telefono
			,[FechaNacimiento]
			,[NSS]
			,[FechaIngreso]
			,[Foto]
			,Status
			,Empleado.IdEmpresa
			,Empresa.Nombre AS NombreEmpresa
		FROM Empleado
		LEFT JOIN Empresa
		ON Empleado.IdEmpresa = Empresa.IdEmpresa
		WHERE Empleado.IdEmpresa = @IdEmpresa AND 
		Empleado.Nombre LIKE '%'+@Nombre+'%'

GO
/****** Object:  StoredProcedure [dbo].[EmpleadoGetById]    Script Date: 20/07/2023 11:39:55 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EmpleadoGetById]
@NumeroEmpleado VARCHAR(50)
AS
	SELECT [NumeroEmpleado]
      ,[RFC]
      ,Empleado.Nombre
      ,[ApellidoPaterno]
      ,[ApellidoMaterno]
      ,Empleado.Email
      ,Empleado.Telefono
      ,[FechaNacimiento]
      ,[NSS]
      ,[FechaIngreso]
      ,[Foto]
	  ,Status
      ,Empleado.IdEmpresa
	  ,Empresa.Nombre AS NombreEmpresa
	FROM Empleado
	LEFT JOIN Empresa
	ON Empleado.IdEmpresa = Empresa.IdEmpresa
	WHERE NumeroEmpleado = @NumeroEmpleado
GO
/****** Object:  StoredProcedure [dbo].[EmpleadoStatusUpdate]    Script Date: 20/07/2023 11:39:55 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EmpleadoStatusUpdate]
@Status BIT,
@NumeroEmpleado VARCHAR(50)
AS
	UPDATE Empleado
	SET Status = @Status
	WHERE NumeroEmpleado = @NumeroEmpleado

GO
/****** Object:  StoredProcedure [dbo].[EmpleadoUpdate]    Script Date: 20/07/2023 11:39:55 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EmpleadoUpdate]
@NumeroEmpleado VARCHAR(50),
@RFC VARCHAR(20),
@Nombre VARCHAR(50),
@ApellidoPaterno VARCHAR(50),
@ApellidoMaterno VARCHAR(50),
@Email VARCHAR(254),
@Telefono VARCHAR(20),
@FechaNacimiento DATE,
@NSS VARCHAR(20),
@FechaIngreso DATE,
@Foto VARCHAR(MAX),
@IdEmpresa INT
AS
	UPDATE Empleado 
	SET 
       RFC=@RFC
      ,Nombre=@Nombre
      ,ApellidoPaterno=@ApellidoPaterno
      ,ApellidoMaterno=@ApellidoMaterno
      ,Email=@Email
      ,Telefono=@Telefono
      ,FechaNacimiento=CONVERT(DATE,@FechaNacimiento,103)
      ,NSS=@NSS
      ,FechaIngreso=CONVERT(DATE,@FechaIngreso,103)
      ,Foto=@Foto
      ,IdEmpresa=@IdEmpresa
	WHERE NumeroEmpleado=@NumeroEmpleado

GO
/****** Object:  StoredProcedure [dbo].[EmpresaGetAll]    Script Date: 20/07/2023 11:39:55 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EmpresaGetAll]
AS
	SELECT IdEmpresa
		,Nombre
		,Telefono
		,Email
		,DireccionWeb
		,Logo
	FROM Empresa
GO
/****** Object:  StoredProcedure [dbo].[EstadoGetByIdPais]    Script Date: 20/07/2023 11:39:55 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EstadoGetByIdPais]
@IdPais INT
AS
	SELECT [IdEstado]
      ,[Nombre]
      ,[IdPais]
	FROM [Estado]
	WHERE IdPais = @IdPais
GO
/****** Object:  StoredProcedure [dbo].[MunicipioGetByIdEstado]    Script Date: 20/07/2023 11:39:55 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MunicipioGetByIdEstado]
@IdEstado INT
AS
	SELECT [IdMunicipio]
      ,[Nombre]
      ,[IdEstado]
	FROM [Municipio]
	WHERE IdEstado = @IdEstado
GO
/****** Object:  StoredProcedure [dbo].[PaisGetAll]    Script Date: 20/07/2023 11:39:55 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PaisGetAll]
AS
SELECT IdPais, Nombre
  FROM Pais
GO
/****** Object:  StoredProcedure [dbo].[RolGetAll]    Script Date: 20/07/2023 11:39:55 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RolGetAll]
AS
	SELECT [IdRol]
      ,[Nombre]
	FROM [Rol]
GO
/****** Object:  StoredProcedure [dbo].[UsuarioAdd]    Script Date: 20/07/2023 11:39:55 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UsuarioAdd]
@UserName VARCHAR(50),
@Nombre VARCHAR(50),
@ApellidoPaterno VARCHAR(50),
@ApellidoMaterno VARCHAR(50),
@Email VARCHAR(254),
@Password VARCHAR(50),
@Sexo CHAR(2),
@Telefono VARCHAR(20),
@Celular VARCHAR(20),
@FechaNacimiento VARCHAR(15),
@CURP VARCHAR(50),
@Imagen VARCHAR(MAX),
@IdRol TINYINT,
@Calle VARCHAR(50),
@NumInterior VARCHAR(50),
@NumExterior VARCHAR(50),
@IdColonia INT
AS
	INSERT INTO Usuario (
	UserName, 
	Nombre, 
	ApellidoPaterno, 
	ApellidoMaterno, 
	Email, 
	Password, 
	Sexo, 
	Telefono, 
	Celular, 
	FechaNacimiento, 
	CURP, 
	Imagen, 
	IdRol,
	Status
	) VALUES (@UserName, 
	@Nombre, 
	@ApellidoPaterno, 
	@ApellidoMaterno, 
	@Email, 
	@Password, 
	@Sexo, 
	@Telefono, 
	@Celular, 
	CONVERT(DATE,@FechaNacimiento,103), 
	@CURP, 
	@Imagen, 
	@IdRol,
	1)

	INSERT INTO Direccion(Calle, NumeroInterior, 
		NumeroExterior, IdColonia, IdUsuario)
	VALUES (@Calle,@NumInterior,@NumExterior,@IdColonia,@@IDENTITY)


GO
/****** Object:  StoredProcedure [dbo].[UsuarioDelete]    Script Date: 20/07/2023 11:39:55 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UsuarioDelete]
@IdUsuario INT
AS
	DELETE FROM Direccion
	WHERE IdUsuario = @IdUsuario
	DELETE FROM Usuario
	WHERE IdUsuario = @IdUsuario
GO
/****** Object:  StoredProcedure [dbo].[UsuarioGetAll]    Script Date: 20/07/2023 11:39:55 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UsuarioGetAll]
@Nombre VARCHAR(50),
@APaterno VARCHAR(50)
AS
	SELECT Usuario.IdUsuario
		,Usuario.UserName
		,Usuario.Nombre
		,Usuario.ApellidoPaterno
		,Usuario.ApellidoMaterno
		,Usuario.Email
		,Usuario.Password
		,Usuario.Sexo
		,Usuario.Telefono
		,Usuario.Celular
		,Usuario.FechaNacimiento
		,Usuario.CURP
		,Usuario.Imagen
		,Usuario.IdRol
		,Usuario.Status
		,Rol.Nombre AS RolUsuario
		,Direccion.IdDireccion
		,Direccion.Calle
		,Direccion.NumeroInterior
		,Direccion.NumeroExterior
		,Direccion.IdColonia
		,Colonia.Nombre AS NombreColonia
		,Colonia.CodigoPostal
		,Colonia.IdMunicipio
		,Municipio.Nombre AS NombreMunicipio
		,Municipio.IdEstado
		,Estado.Nombre AS NombreEstado
		,Estado.IdPais
		,Pais.Nombre AS NombrePais
	FROM Usuario
	INNER JOIN Rol ON Usuario.IdRol = Rol.IdRol
	INNER JOIN Direccion ON Usuario.IdUsuario = Direccion.IdUsuario
	INNER JOIN Colonia ON Direccion.IdColonia = Colonia.IdColonia
	INNER JOIN Municipio ON Colonia.IdMunicipio = Municipio.IdMunicipio
	INNER JOIN Estado ON Municipio.IdEstado = Estado.IdEstado
	INNER JOIN Pais ON Estado.IdPais = Pais.IdPais 
	WHERE Usuario.Nombre LIKE '%'+@Nombre+'%'
	AND Usuario.ApellidoPaterno LIKE '%'+@APaterno+'%'

GO
/****** Object:  StoredProcedure [dbo].[UsuarioGetById]    Script Date: 20/07/2023 11:39:55 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UsuarioGetById] 
@IdUsuario INT

AS
	SELECT Usuario.IdUsuario
      ,Usuario.UserName
      ,Usuario.Nombre
      ,Usuario.ApellidoPaterno
      ,Usuario.ApellidoMaterno
      ,Usuario.Email
      ,Usuario.Password
      ,Usuario.Sexo
      ,Usuario.Telefono
      ,Usuario.Celular
      ,Usuario.FechaNacimiento
      ,Usuario.CURP
      ,Usuario.Imagen
	  ,Usuario.Status
      ,Usuario.IdRol
	  ,Rol.Nombre AS RolUsuario
	  ,Direccion.IdDireccion
	  ,Direccion.Calle
	  ,Direccion.NumeroInterior
	  ,Direccion.NumeroExterior
	  ,Direccion.IdColonia
	  ,Colonia.Nombre AS NombreColonia
	  ,Colonia.CodigoPostal
	  ,Colonia.IdMunicipio
	  ,Municipio.Nombre AS NombreMunicipio
	  ,Municipio.IdEstado
	  ,Estado.Nombre AS NombreEstado
	  ,Estado.IdPais
	  ,Pais.Nombre AS NombrePais
	FROM Usuario
	INNER JOIN Rol ON Usuario.IdRol = Rol.IdRol
	INNER JOIN Direccion ON Usuario.IdUsuario = Direccion.IdUsuario
	INNER JOIN Colonia ON Direccion.IdColonia = Colonia.IdColonia
	INNER JOIN Municipio ON Colonia.IdMunicipio = Municipio.IdMunicipio
	INNER JOIN Estado ON Municipio.IdEstado = Estado.IdEstado
	INNER JOIN Pais ON Estado.IdPais = Pais.IdPais
	WHERE Usuario.IdUsuario = @IdUsuario
GO
/****** Object:  StoredProcedure [dbo].[UsuarioStatusUpdate]    Script Date: 20/07/2023 11:39:55 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UsuarioStatusUpdate]
@IdUsuario INT,
@Status BIT
AS
	UPDATE Usuario
	SET Status = @Status
	WHERE IdUsuario = @IdUsuario
GO
/****** Object:  StoredProcedure [dbo].[UsuarioUpdate]    Script Date: 20/07/2023 11:39:55 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UsuarioUpdate]
@IdUsuario INT,
@UserName VARCHAR(50),
@Nombre VARCHAR(50),
@ApellidoPaterno VARCHAR(50),
@ApellidoMaterno VARCHAR(50),
@Email VARCHAR(254),
@Password VARCHAR(50),
@Sexo CHAR(2),
@Telefono VARCHAR(20),
@Celular VARCHAR(20),
@FechaNacimiento VARCHAR(15),
@CURP VARCHAR(50),
@Imagen VARCHAR(MAX),
@IdRol TINYINT,
@Calle VARCHAR(50),
@NumInterior VARCHAR(50),
@NumExterior VARCHAR(50),
@IdColonia INT
AS
	UPDATE Usuario 
	SET UserName=@UserName, 
		Nombre=@Nombre, 
		ApellidoPaterno=@ApellidoPaterno, 
		ApellidoMaterno=@ApellidoMaterno, 
		Email=@Email, 
		Password=@Password, 
		Sexo=@Sexo, 
		Telefono=@Telefono, 
		Celular=@Celular, 
		FechaNacimiento=CONVERT(DATE,@FechaNacimiento,103),
		CURP=@CURP, 
		Imagen=@Imagen, 
		IdRol=@IdRol
	WHERE IdUsuario=@IdUsuario

	UPDATE Direccion
	SET Calle=@Calle,
		NumeroInterior=@NumInterior,
		NumeroExterior=@NumExterior,
		IdColonia=@IdColonia
	WHERE IdUsuario=@IdUsuario
GO
/****** Object:  Table [dbo].[Aseguradora]    Script Date: 20/07/2023 11:39:55 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Aseguradora](
	[IdAseguradora] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[FechaCreacion] [datetime] NULL,
	[FechaModificacion] [datetime] NULL,
	[IdUsuario] [int] NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAseguradora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Colonia]    Script Date: 20/07/2023 11:39:55 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Colonia](
	[IdColonia] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[CodigoPostal] [varchar](50) NOT NULL,
	[IdMunicipio] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdColonia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Direccion]    Script Date: 20/07/2023 11:39:55 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Direccion](
	[IdDireccion] [int] IDENTITY(1,1) NOT NULL,
	[Calle] [varchar](50) NOT NULL,
	[NumeroInterior] [varchar](50) NOT NULL,
	[NumeroExterior] [varchar](50) NOT NULL,
	[IdColonia] [int] NULL,
	[IdUsuario] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDireccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 20/07/2023 11:39:55 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Empleado](
	[NumeroEmpleado] [varchar](50) NOT NULL,
	[RFC] [varchar](20) NULL,
	[Nombre] [varchar](50) NOT NULL,
	[ApellidoPaterno] [varchar](50) NOT NULL,
	[ApellidoMaterno] [varchar](50) NULL,
	[Email] [varchar](254) NOT NULL,
	[Telefono] [varchar](20) NOT NULL,
	[FechaNacimiento] [date] NULL,
	[NSS] [varchar](20) NULL,
	[FechaIngreso] [date] NULL,
	[Foto] [varchar](max) NULL,
	[IdEmpresa] [int] NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[NumeroEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Empresa]    Script Date: 20/07/2023 11:39:55 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Empresa](
	[IdEmpresa] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Telefono] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[DireccionWeb] [varchar](100) NULL,
	[Logo] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Estado]    Script Date: 20/07/2023 11:39:55 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Estado](
	[IdEstado] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[IdPais] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Municipio]    Script Date: 20/07/2023 11:39:55 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Municipio](
	[IdMunicipio] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[IdEstado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMunicipio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Pais]    Script Date: 20/07/2023 11:39:55 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Pais](
	[IdPais] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPais] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 20/07/2023 11:39:55 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Rol](
	[IdRol] [tinyint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 20/07/2023 11:39:55 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[ApellidoPaterno] [varchar](50) NOT NULL,
	[ApellidoMaterno] [varchar](50) NULL,
	[Email] [varchar](254) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Sexo] [char](2) NOT NULL,
	[Telefono] [varchar](20) NOT NULL,
	[Celular] [varchar](20) NULL,
	[FechaNacimiento] [date] NULL,
	[CURP] [varchar](50) NULL,
	[Imagen] [varchar](max) NULL,
	[IdRol] [tinyint] NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UsuarioEliminado]    Script Date: 20/07/2023 11:39:55 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UsuarioEliminado](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[APaterno] [varchar](50) NOT NULL,
	[AMaterno] [varchar](50) NOT NULL,
	[FechaEliminacion] [date] NOT NULL,
	[HoraEliminacion] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Aseguradora] ON 

INSERT [dbo].[Aseguradora] ([IdAseguradora], [Nombre], [FechaCreacion], [FechaModificacion], [IdUsuario], [Status]) VALUES (1, N'MetLife', CAST(0x0000B03B012365A0 AS DateTime), CAST(0x0000B03B012365A0 AS DateTime), 2, 1)
INSERT [dbo].[Aseguradora] ([IdAseguradora], [Nombre], [FechaCreacion], [FechaModificacion], [IdUsuario], [Status]) VALUES (2, N'GNP', CAST(0x0000B03B0123BA1A AS DateTime), CAST(0x0000B03B0123BA1A AS DateTime), 3, 1)
INSERT [dbo].[Aseguradora] ([IdAseguradora], [Nombre], [FechaCreacion], [FechaModificacion], [IdUsuario], [Status]) VALUES (4, N'Bancomer', CAST(0x0000B03B01248DBB AS DateTime), CAST(0x0000B03B01248DBB AS DateTime), 4, 0)
SET IDENTITY_INSERT [dbo].[Aseguradora] OFF
SET IDENTITY_INSERT [dbo].[Colonia] ON 

INSERT [dbo].[Colonia] ([IdColonia], [Nombre], [CodigoPostal], [IdMunicipio]) VALUES (1, N'Zona Centro', N'20000', 1)
INSERT [dbo].[Colonia] ([IdColonia], [Nombre], [CodigoPostal], [IdMunicipio]) VALUES (2, N'Colinas del Rio', N'20010', 1)
INSERT [dbo].[Colonia] ([IdColonia], [Nombre], [CodigoPostal], [IdMunicipio]) VALUES (3, N'Olivares Santana', N'20010', 1)
GO
SET IDENTITY_INSERT [dbo].[Colonia] OFF
SET IDENTITY_INSERT [dbo].[Direccion] ON 

INSERT [dbo].[Direccion] ([IdDireccion], [Calle], [NumeroInterior], [NumeroExterior], [IdColonia], [IdUsuario]) VALUES (2, N'Axoquen', N'10', N'578', 2, 2)
INSERT [dbo].[Direccion] ([IdDireccion], [Calle], [NumeroInterior], [NumeroExterior], [IdColonia], [IdUsuario]) VALUES (3, N'Miautl', N'Mz 456', N'Lt 3', 1, 1020)
INSERT [dbo].[Direccion] ([IdDireccion], [Calle], [NumeroInterior], [NumeroExterior], [IdColonia], [IdUsuario]) VALUES (5, N'Escondida', N'34', N'678', 8, 3)
SET IDENTITY_INSERT [dbo].[Direccion] OFF
INSERT [dbo].[Empleado] ([NumeroEmpleado], [RFC], [Nombre], [ApellidoPaterno], [ApellidoMaterno], [Email], [Telefono], [FechaNacimiento], [NSS], [FechaIngreso], [Foto], [IdEmpresa], [Status]) VALUES (N'EMP-002', N'CHGD000623', N'Guillermo', N'Ching', N'Dominguez', N'memoching23@gmail.com', N'5534543434', CAST(0x2C460B00 AS Date), N'06735680040', CAST(0x73450B00 AS Date), NULL, 1, 1)
INSERT [dbo].[Empleado] ([NumeroEmpleado], [RFC], [Nombre], [ApellidoPaterno], [ApellidoMaterno], [Email], [Telefono], [FechaNacimiento], [NSS], [FechaIngreso], [Foto], [IdEmpresa], [Status]) VALUES (N'EMP-003', N'AJML000514N14', N'Arlet Judith', N'Mejia', N'Lara', N'judithmejia@gmail.com', N'5510234565', CAST(0x8D240B00 AS Date), N'01233882928', CAST(0x73450B00 AS Date), NULL, 2, 1)
SET IDENTITY_INSERT [dbo].[Empresa] ON 

INSERT [dbo].[Empresa] ([IdEmpresa], [Nombre], [Telefono], [Email], [DireccionWeb], [Logo]) VALUES (1, N'Digis01', N'5543136732', N'digis01@digis01.com', N'www,digis01.com', NULL)
INSERT [dbo].[Empresa] ([IdEmpresa], [Nombre], [Telefono], [Email], [DireccionWeb], [Logo]) VALUES (2, N'EGlobal', N'5578323564', N'e.global@eglobal.com', N'www.eglobal.org', NULL)
INSERT [dbo].[Empresa] ([IdEmpresa], [Nombre], [Telefono], [Email], [DireccionWeb], [Logo]) VALUES (3, N'Tr Network', N'5529310312', N'tr_network@trnetwork.com', N'www.trnetwork.com', NULL)
SET IDENTITY_INSERT [dbo].[Empresa] OFF
SET IDENTITY_INSERT [dbo].[Estado] ON 

INSERT [dbo].[Estado] ([IdEstado], [Nombre], [IdPais]) VALUES (1, N'Aguascalientes', 1)
INSERT [dbo].[Estado] ([IdEstado], [Nombre], [IdPais]) VALUES (2, N'Baja California', 1)
INSERT [dbo].[Estado] ([IdEstado], [Nombre], [IdPais]) VALUES (3, N'Baja California Sur', 1)
SET IDENTITY_INSERT [dbo].[Estado] OFF
SET IDENTITY_INSERT [dbo].[Municipio] ON 

INSERT [dbo].[Municipio] ([IdMunicipio], [Nombre], [IdEstado]) VALUES (1, N'Aguascalientes', 1)
INSERT [dbo].[Municipio] ([IdMunicipio], [Nombre], [IdEstado]) VALUES (2, N'Asientos', 1)
INSERT [dbo].[Municipio] ([IdMunicipio], [Nombre], [IdEstado]) VALUES (3, N'Calvillo', 1)
SET IDENTITY_INSERT [dbo].[Municipio] OFF
SET IDENTITY_INSERT [dbo].[Pais] ON 

INSERT [dbo].[Pais] ([IdPais], [Nombre]) VALUES (1, N'México')
INSERT [dbo].[Pais] ([IdPais], [Nombre]) VALUES (2, N'Japon')
INSERT [dbo].[Pais] ([IdPais], [Nombre]) VALUES (3, N'Argentina')
SET IDENTITY_INSERT [dbo].[Pais] OFF
SET IDENTITY_INSERT [dbo].[Rol] ON 

INSERT [dbo].[Rol] ([IdRol], [Nombre]) VALUES (1, N'Gerente')
INSERT [dbo].[Rol] ([IdRol], [Nombre]) VALUES (2, N'Supervisor')
INSERT [dbo].[Rol] ([IdRol], [Nombre]) VALUES (3, N'Account Manager')
SET IDENTITY_INSERT [dbo].[Rol] OFF
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([IdUsuario], [UserName], [Nombre], [ApellidoPaterno], [ApellidoMaterno], [Email], [Password], [Sexo], [Telefono], [Celular], [FechaNacimiento], [CURP], [Imagen], [IdRol], [Status]) VALUES (3, N'LaWiskas', N'Guillermo', N'Ching', N'Dominguez', N'chingGD@gmail.com', N'TheWiskas23', N'H ', N'5567341267', N'5567343234', CAST(0xB5240B00 AS Date), N'CHGD000623HMCTMCA1', NULL, 2, 1)
INSERT [dbo].[Usuario] ([IdUsuario], [UserName], [Nombre], [ApellidoPaterno], [ApellidoMaterno], [Email], [Password], [Sexo], [Telefono], [Celular], [FechaNacimiento], [CURP], [Imagen], [IdRol], [Status]) VALUES (4, N'ArlettenaMejia', N'Judith', N'Mejia', N'lara', N'judithML@gmail.com', N'mejia1400', N'M ', N'5566735623', N'5534567324', CAST(0x8D240B00 AS Date), N'MAJL000514FMCTMCA2', NULL, 3, 1)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
SET IDENTITY_INSERT [dbo].[UsuarioEliminado] ON 

INSERT [dbo].[UsuarioEliminado] ([IdUsuario], [UserName], [Nombre], [APaterno], [AMaterno], [FechaEliminacion], [HoraEliminacion]) VALUES (1, N'JuanGarcia', N'Juan', N'Garcia', N'Garcia', CAST(0x90450B00 AS Date), CAST(0x0750C9EBB6660000 AS Time))
INSERT [dbo].[UsuarioEliminado] ([IdUsuario], [UserName], [Nombre], [APaterno], [AMaterno], [FechaEliminacion], [HoraEliminacion]) VALUES (2, N'LunaCitlali', N'Citlali', N'Martinez', N'Garcia', CAST(0x92450B00 AS Date), CAST(0x07403B648F590000 AS Time))
INSERT [dbo].[UsuarioEliminado] ([IdUsuario], [UserName], [Nombre], [APaterno], [AMaterno], [FechaEliminacion], [HoraEliminacion]) VALUES (3, N'tcarmen5', N'Tore', N'Endean', N'Carmen', CAST(0x99450B00 AS Date), CAST(0x07702A67C6550000 AS Time))
SET IDENTITY_INSERT [dbo].[UsuarioEliminado] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Empleado__A9D10534367AE553]    Script Date: 20/07/2023 11:39:55 a. m. ******/
ALTER TABLE [dbo].[Empleado] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Usuario__A9D105347973267C]    Script Date: 20/07/2023 11:39:55 a. m. ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Usuario__C9F2845616E26648]    Script Date: 20/07/2023 11:39:55 a. m. ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Aseguradora]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioAseguradora] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Aseguradora] CHECK CONSTRAINT [FK_UsuarioAseguradora]
GO
ALTER TABLE [dbo].[Colonia]  WITH CHECK ADD  CONSTRAINT [FK_IdMunicipio] FOREIGN KEY([IdMunicipio])
REFERENCES [dbo].[Municipio] ([IdMunicipio])
GO
ALTER TABLE [dbo].[Colonia] CHECK CONSTRAINT [FK_IdMunicipio]
GO
ALTER TABLE [dbo].[Direccion]  WITH CHECK ADD  CONSTRAINT [FK_IdColonia] FOREIGN KEY([IdColonia])
REFERENCES [dbo].[Colonia] ([IdColonia])
GO
ALTER TABLE [dbo].[Direccion] CHECK CONSTRAINT [FK_IdColonia]
GO
ALTER TABLE [dbo].[Direccion]  WITH CHECK ADD  CONSTRAINT [FK_IdUsuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Direccion] CHECK CONSTRAINT [FK_IdUsuario]
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD  CONSTRAINT [FK_IdEmpresa] FOREIGN KEY([IdEmpresa])
REFERENCES [dbo].[Empresa] ([IdEmpresa])
GO
ALTER TABLE [dbo].[Empleado] CHECK CONSTRAINT [FK_IdEmpresa]
GO
ALTER TABLE [dbo].[Estado]  WITH CHECK ADD  CONSTRAINT [FK_IdPais] FOREIGN KEY([IdPais])
REFERENCES [dbo].[Pais] ([IdPais])
GO
ALTER TABLE [dbo].[Estado] CHECK CONSTRAINT [FK_IdPais]
GO
ALTER TABLE [dbo].[Municipio]  WITH CHECK ADD  CONSTRAINT [FK_IdEstado] FOREIGN KEY([IdEstado])
REFERENCES [dbo].[Estado] ([IdEstado])
GO
ALTER TABLE [dbo].[Municipio] CHECK CONSTRAINT [FK_IdEstado]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_IdRol] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Rol] ([IdRol])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_IdRol]
GO
USE [master]
GO
